.simpleInfoField {
    color:#fff;
    background-color:#007bff;
    text-align: center;
}
.col {
    margin-left: 5px;
    margin-right: 5px;
}
.button {
    margin-top: 3px;
    margin-bottom: 3px;
}

.row {
    margin-top: 3px;
    margin-bottom: 3px;
}

#paymentInfoCol {
    display: table-cell;
    vertical-align: middle;
}
